:root {
    box-sizing: border-box;

    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 19px;

    min-height: 100%;
    /* Брекпоинты для адаптивной верстки  */
    --breakpoint-xs: 0;
    --breakpoint-sm: 360px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1440px;
}

*,::after,::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}