<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description or metadata.description }}">
    <title>{{ title or metadata.title }}</title>
</head>
<body>
    {% include "partials/site-header.html" %}
    <main tabindex="-1" id="main-content">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>